{% extends 'base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<section id="about" class="about-section">
    <div class="about-content">
        <div class="about-text">
            <h1>Salut, moi c’est <span>Alvin</span></h1>
            <h2>Développeur full-stack orienté web et spécialisé dans les applications Symfony</h2>

            <h3>Ce qu'il faut savoir sur moi</h3>
            <p class="about-description">Développeur web depuis plus de 4 ans, je conçois des applications web
                fiables et maintenables, en transformant des besoins métiers complexes en solutions simples et
                efficaces. J’ai travaillé sur des applications web, des APIs, de l’automatisation de processus et des
                refontes d’outils existants, avec une attention particulière portée à la qualité du code et à
                l’expérience utilisateur.</p>

            <a href="#projects-carousel" class="about-cta">Découvrir mes projets <i class="fa-solid fa-arrow-down"></i></a>
        </div>

        <div class="about-photo">
            <img src="{{ asset('media/me.jpeg') }}" alt="Superbe photo de moi">
        </div>
    </div>
</section>

<section id="projects-carousel">
    <div class="carousel">
        <button class="carousel-arrow left">
            <i class="fa-solid fa-chevron-left"></i>
        </button>

        <div class="carousel-track">
            <article class="carousel-slide active">
                <a href="" class="slide-content">
                    <img src="{{ asset('media/carrousel/BrodArt-cover.jpg') }}" alt="Brod'Art">

                    <div class="slide-overlay">
                        <h1>Brod'Art</h1>
                        <h2>Plateforme e-commerce dédiée à la vente de vêtements et accessoires textiles
                            personnalisés
                            avec de la broderie.</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-symfony"></i> Symfony 7</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-solid fa-database"></i> MySQL</span>
                            <span><i class="fa-brands fa-js"></i> JQuery</span>
                            <span><i class="fa-brands fa-html5"></i> HTML</span>
                            <span><i class="fa-brands fa-symfony"></i> Twig</span>
                            <span><i class="fa-brands fa-css3-alt"></i> CSS</span>

                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="" class="slide-content">
                    <img src="{{ asset('media/carrousel/ListenMyMood-cover.jpg') }}" alt="Listen My Mood">

                    <div class="slide-overlay">
                        <h1>Listen My Mood</h1>
                        <h2>Recommandations musicales en fonction de votre humeur</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-spotify"></i> API Spotify</span>
                            <span><i class="fa-brands fa-symfony"></i> Symfony 7</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-js"></i> JQuery</span>
                            <span><i class="fa-brands fa-html5"></i> HTML</span>
                            <span><i class="fa-brands fa-symfony"></i> Twig</span>
                            <span><i class="fa-brands fa-css3-alt"></i> CSS</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="" class="slide-content">
                    <img src="{{ asset('media/carrousel/Pegasus-cover.jpg') }}" alt="Pegasus">

                    <div class="slide-overlay">
                        <h1>Pegasus</h1>
                        <h2>Application interne développée pour le Ministère des Armées, permettant la gestion et la
                            génération automatisée de bons de commande.</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-symfony"></i> Symfony 6</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-js"></i> JQuery</span>
                            <span><i class="fa-brands fa-html5"></i> HTML</span>
                            <span><i class="fa-brands fa-symfony"></i> Twig</span>
                            <span><i class="fa-brands fa-css3-alt"></i> CSS</span>
                            <span><i class="fa-regular fa-file-code"></i> Macro VBA</span>
                            <span><i class="fa-regular fa-file-excel"></i> Excel</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="" class="slide-content">
                    <img src="{{ asset('media/carrousel/Hera-cover.jpg') }}" alt="Hera">

                    <div class="slide-overlay">
                        <h1>Hera</h1>
                        <h2>Outil d’extraction et de transformation de données via API GraphQL en fichier CSV</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-js"></i> JQuery</span>
                            <span><i class="fa-brands fa-html5"></i> HTML</span>
                            <span><i class="fa-brands fa-css3-alt"></i> CSS</span>
                            <span><i class="fa-solid fa-database"></i> GraphQL</span>
                            <span><i class="fa-solid fa-file-csv"></i> CSV</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="" class="slide-content">
                    <img src="{{ asset('media/carrousel/HomeCredit-cover.jpg') }}" alt="HomeCredit">

                    <div class="slide-overlay">
                        <h1>HomeCredit</h1>
                        <h2>Application web back-office de scoring IA pour des emprunts bancaires</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-python"></i> Python</span>
                            <span><i class="fa-solid fa-database"></i> MongoDB</span>
                            <span><i class="fa-solid fa-brain"></i> Machine Learning</span>
                            <span><i class="fa-solid fa-database"></i> Big Data</span>
                            <span><i class="fa-brands fa-python"></i> Flask</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="" class="slide-content">
                    <img src="{{ asset('media/carrousel/Watchcorn-cover.jpg') }}" alt="Watchcorn">

                    <div class="slide-overlay">
                        <h1>Watchcorn (coming soon)</h1>
                        <h2>Application web et media social de suivi de films et séries TV</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-symfony"></i> Symfony 8</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-angular"></i> Angular 21</span>
                            <span><i class="fa-solid fa-shield-halved"></i> Token JWT</span>
                            <span><i class="fa-solid fa-database"></i> MySQL</span>
                            <span><i class="fa-solid fa-database"></i> API TMDb</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="" class="slide-content">
                    <img src="{{ asset('media/carrousel/Eventure-cover.jpg') }}" alt="Eventure">

                    <div class="slide-overlay">
                        <h1>Eventure (coming soon)</h1>
                        <h2>Application web de vente de billet et gestion d'événements et concerts</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-symfony"></i> Symfony 8</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-angular"></i> Angular 21</span>
                            <span><i class="fa-solid fa-shield-halved"></i> Token JWT</span>
                            <span><i class="fa-solid fa-database"></i> MySQL</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="" class="slide-content">
                    <img src="{{ asset('media/carrousel/RetroScore-cover.jpg') }}" alt="RetroScore">

                    <div class="slide-overlay">
                        <h1>RetroScore (coming soon)</h1>
                        <h2>Application web de notation et de comparaison de jeux vidéo par la communauté</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-symfony"></i> Symfony 8</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-angular"></i> Angular 21</span>
                            <span><i class="fa-solid fa-shield-halved"></i> Token JWT</span>
                            <span><i class="fa-solid fa-database"></i> MySQL</span>
                        </div>
                    </div>
                </a>
            </article>
        </div>

        <button class="carousel-arrow right">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{{ asset('js/carrousel.js') }}"></script>
{% endblock js %}