{% extends 'base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<section id="about" class="about-section">
    <div class="about-content">
        <div class="about-text">
            <h1>Salut, moi c’est <span>Alvin</span></h1>
            <h2>Développeur full-stack orienté web et spécialisé dans les applications Symfony</h2>

            <h3>Ce qu'il faut savoir sur moi</h3>
            <p class="about-description">Développeur web depuis plus de 4 ans, je conçois des applications web
                fiables et maintenables, en transformant des besoins métiers complexes en solutions simples et
                efficaces. J’ai travaillé sur des applications web, des APIs, de l’automatisation de processus et des
                refontes d’outils existants, avec une attention particulière portée à la qualité du code et à
                l’expérience utilisateur.</p>

            <a href="#projects-carousel" class="about-cta">Découvrir mes projets <i
                    class="fa-solid fa-arrow-down"></i></a>
        </div>

        <div class="about-photo">
            <img src="{{ asset('media/me.jpeg') }}" alt="Superbe photo de moi">
        </div>
    </div>
</section>

<section id="projects-carousel">
    <div class="carousel">
        <button class="carousel-arrow left">
            <i class="fa-solid fa-chevron-left"></i>
        </button>

        <div class="carousel-track">
            <article class="carousel-slide active">
                <a href="{{ path('project_show', { 'project': 'BrodArt' }) }}" class="slide-content">
                    <img src="{{ asset('media/carrousel/BrodArt-cover.jpg') }}" alt="Brod'Art">

                    <div class="slide-overlay">
                        <h1>Brod'Art</h1>
                        <h2>Plateforme e-commerce dédiée à la vente de vêtements et accessoires textiles
                            personnalisés
                            avec de la broderie.</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-symfony"></i> Symfony 7</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-solid fa-database"></i> MySQL</span>
                            <span><i class="fa-brands fa-js"></i> JQuery</span>
                            <span><i class="fa-brands fa-html5"></i> HTML</span>
                            <span><i class="fa-brands fa-symfony"></i> Twig</span>
                            <span><i class="fa-brands fa-css3-alt"></i> CSS</span>

                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="{{ path('project_show', { 'project': 'ListenMyMood' }) }}" class="slide-content">
                    <img src="{{ asset('media/carrousel/ListenMyMood-cover.jpg') }}" alt="Listen My Mood">

                    <div class="slide-overlay">
                        <h1>Listen My Mood</h1>
                        <h2>Recommandations musicales en fonction de votre humeur</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-spotify"></i> API Spotify</span>
                            <span><i class="fa-brands fa-symfony"></i> Symfony 7</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-js"></i> JQuery</span>
                            <span><i class="fa-brands fa-html5"></i> HTML</span>
                            <span><i class="fa-brands fa-symfony"></i> Twig</span>
                            <span><i class="fa-brands fa-css3-alt"></i> CSS</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="{{ path('project_show', { 'project': 'Pegasus' }) }}" class="slide-content">
                    <img src="{{ asset('media/carrousel/Pegasus-cover.jpg') }}" alt="Pegasus">

                    <div class="slide-overlay">
                        <h1>Pegasus</h1>
                        <h2>Application interne développée pour le Ministère des Armées, permettant la gestion et la
                            génération automatisée de bons de commande.</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-symfony"></i> Symfony 6</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-js"></i> JQuery</span>
                            <span><i class="fa-brands fa-html5"></i> HTML</span>
                            <span><i class="fa-brands fa-symfony"></i> Twig</span>
                            <span><i class="fa-brands fa-css3-alt"></i> CSS</span>
                            <span><i class="fa-regular fa-file-code"></i> Macro VBA</span>
                            <span><i class="fa-regular fa-file-excel"></i> Excel</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="{{ path('project_show', { 'project': 'Hera' }) }}" class="slide-content">
                    <img src="{{ asset('media/carrousel/Hera-cover.jpg') }}" alt="Hera">

                    <div class="slide-overlay">
                        <h1>Hera</h1>
                        <h2>Outil d’extraction et de transformation de données via API GraphQL en fichier CSV</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-js"></i> JQuery</span>
                            <span><i class="fa-brands fa-html5"></i> HTML</span>
                            <span><i class="fa-brands fa-css3-alt"></i> CSS</span>
                            <span><i class="fa-solid fa-database"></i> GraphQL</span>
                            <span><i class="fa-solid fa-file-csv"></i> CSV</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="{{ path('project_show', { 'project': 'HomeCredit' }) }}" class="slide-content">
                    <img src="{{ asset('media/carrousel/HomeCredit-cover.jpg') }}" alt="HomeCredit">

                    <div class="slide-overlay">
                        <h1>HomeCredit</h1>
                        <h2>Application web back-office de scoring IA pour des emprunts bancaires</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-python"></i> Python</span>
                            <span><i class="fa-solid fa-database"></i> MongoDB</span>
                            <span><i class="fa-solid fa-brain"></i> Machine Learning</span>
                            <span><i class="fa-solid fa-database"></i> Big Data</span>
                            <span><i class="fa-solid fa-pepper-hot"></i> Flask</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="{{ path('project_show', { 'project': 'WatchCorn' }) }}" class="slide-content">
                    <img src="{{ asset('media/carrousel/Watchcorn-cover.jpg') }}" alt="Watchcorn">

                    <div class="slide-overlay">
                        <h1>Watchcorn (coming soon)</h1>
                        <h2>Application web et media social de suivi de films et séries TV</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-symfony"></i> Symfony 8</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-angular"></i> Angular 21</span>
                            <span><i class="fa-solid fa-shield-halved"></i> Token JWT</span>
                            <span><i class="fa-solid fa-database"></i> MySQL</span>
                            <span><i class="fa-solid fa-database"></i> API TMDb</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="{{ path('project_show', { 'project': 'ComingSoon' }) }}" class="slide-content">
                    <img src="{{ asset('media/carrousel/Eventure-cover.jpg') }}" alt="Eventure">

                    <div class="slide-overlay">
                        <h1>Eventure (coming soon)</h1>
                        <h2>Application web de vente de billet et gestion d'événements et concerts</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-symfony"></i> Symfony 8</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-angular"></i> Angular 21</span>
                            <span><i class="fa-solid fa-shield-halved"></i> Token JWT</span>
                            <span><i class="fa-solid fa-database"></i> MySQL</span>
                        </div>
                    </div>
                </a>
            </article>

            <article class="carousel-slide">
                <a href="{{ path('project_show', { 'project': 'ComingSoon' }) }}" class="slide-content">
                    <img src="{{ asset('media/carrousel/RetroScore-cover.jpg') }}" alt="RetroScore">

                    <div class="slide-overlay">
                        <h1>RetroScore (coming soon)</h1>
                        <h2>Application web de notation et de comparaison de jeux vidéo par la communauté</h2>

                        <div class="tech-tags">
                            <span><i class="fa-brands fa-symfony"></i> Symfony 8</span>
                            <span><i class="fa-brands fa-php"></i> PHP</span>
                            <span><i class="fa-brands fa-angular"></i> Angular 21</span>
                            <span><i class="fa-solid fa-shield-halved"></i> Token JWT</span>
                            <span><i class="fa-solid fa-database"></i> MySQL</span>
                        </div>
                    </div>
                </a>
            </article>
        </div>

        <button class="carousel-arrow right">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
</section>

<section id="skills" class="skills-section">
    <div class="skills-container">

        <h2 class="section-title">Compétences</h2>

        <div class="skills-group">
            <h3>Front-end</h3>
            <div class="skills-tags">
                <span><i class="fa-brands fa-html5"></i> HTML5</span>
                <span><i class="fa-brands fa-css3-alt"></i> CSS3</span>
                <span><i class="fa-brands fa-js"></i> JavaScript</span>
                <span><i class="fa-brands fa-js"></i> jQuery</span>
                <span><i class="fa-brands fa-angular"></i> Angular 21 (en cours)</span>
                <span><i class="fa-brands fa-symfony"></i> Twig</span>
                <span><i class="fa-solid fa-mobile-screen-button"></i> Responsive Design</span>
                <span><i class="fa-solid fa-pen-ruler"></i> Intégration UI</span>
            </div>
        </div>

        <div class="skills-group">
            <h3>Back-end</h3>
            <div class="skills-tags">
                <span><i class="fa-brands fa-php"></i> PHP</span>
                <span><i class="fa-brands fa-symfony"></i> Symfony</span>
                <span><i class="fa-brands fa-python"></i> Django</span>
                <span><i class="fa-solid fa-pepper-hot"></i> Flask</span>
                <span><i class="fa-brands fa-java"></i> Java</span>
                <span><i class="fa-brands fa-java"></i> Spring Boot</span>
                <span><i class="fa-solid fa-shield-halved"></i> Sécurité</span>
            </div>
        </div>

        <div class="skills-group">
            <h3>Mobile & Cross-platform</h3>
            <div class="skills-tags">
                <span><i class="fa-brands fa-react"></i> React Native</span>
                <span><i class="fa-solid fa-mobile-screen-button"></i> Flutter</span>
            </div>
        </div>

        <div class="skills-group">
            <h3>Data & API</h3>
            <div class="skills-tags">
                <span><i class="fa-solid fa-database"></i> MySQL</span>
                <span><i class="fa-solid fa-database"></i> MongoDB</span>
                <span><i class="fa-solid fa-database"></i> GraphQL</span>
                <span><i class="fa-solid fa-network-wired"></i> API REST</span>
                <span><i class="fa-solid fa-file"></i> JSON</span>
                <span><i class="fa-solid fa-file-csv"></i> CSV</span>
                <span><i class="fa-solid fa-leaf"></i> Anaconda</span>
                <span><i class="fa-solid fa-database"></i> Big Data</span>
            </div>
        </div>

        <div class="skills-group">
            <h3>Outils</h3>
            <div class="skills-tags">
                <span><i class="fa-brands fa-git-alt"></i> Git</span>
                <span><i class="fa-brands fa-github"></i> GitHub</span>
                <span><i class="fa-brands fa-docker"></i> Docker</span>
                <span><i class="fa-solid fa-handshake"></i> Postman</span>
                <span><i class="fa-solid fa-laptop-code"></i> VS Code</span>
                <span><i class="fa-brands fa-notion"></i> Notion</span>
                <span><i class="fa-solid fa-table"></i> Excel</span>
            </div>
        </div>

        <div class="skills-group">
            <h3>Méthodologie</h3>
            <div class="skills-tags">
                <span>Analyse des besoins métier</span>
                <span>Clean Code</span>
                <span>Refactorisation</span>
                <span>Architecture maintenable</span>
                <span>Tests unitaires et fonctionnels</span>
                <span>Rédaction de spécifications fonctionnelles et techniques</span>
                <span>Conception orientée utilisateur (UX)</span>
                <span>Gestion de projet agile</span>
                <span>Documentation technique</span>
                <span>Proof of Concept (POC)</span>
                <span>Automatisation</span>
                <span>RPA</span>
            </div>
        </div>

        <div class="skills-group">
            <h3>Langues</h3>
            <div class="skills-tags">
                <span><i class="fa-solid fa-flag-usa"></i>Anglais (B2 - TOEIC)</span>
                <span><i class="fa-solid fa-flag"></i>Français (Niveau natif)</span>
            </div>
        </div>

    </div>
</section>

<section id="experience" class="experience-section">
    <div class="experience-container">

        <h2 class="section-title">Expériences professionnelles</h2>

        <div class="experience-list">

            <div class="experience-card">
                <div class="experience-header">
                    <img src="{{ asset('media/minarm.jpg') }}" alt="MinArm" class="experience-logo">
                    <div class="experience-info">
                        <h3>Développeur Full Stack / Chef de projet IT</h3>
                        <p class="company">Ministère des Armées</p>
                        <p class="date">Sept. 2022 - Sept. 2025</p>
                    </div>
                    <button class="experience-toggle">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
                <div class="experience-detail">
                    <span class="location">Vélizy-Villacoublay (Île-De-France)</span>
                    <ul>
                        <li>Développement et maintenance d’applications web, desktop et mobiles pour répondre aux
                            besoins internes.</li>
                        <li>Conception d’outils d’automatisation réduisant significativement les tâches manuelles et les
                            erreurs de saisie.</li>
                        <li>Réalisation d’un POC d’application mobile pour un porte-carte dématérialisé.</li>
                        <li>Conduite de projets digitaux en autonomie : rédaction de documentation technique et
                            fonctionnelle, suivi des plannings, coordination avec les différentes parties prenantes.
                        </li>
                        <li>Analyse des capacités de l’entreprise.</li>
                    </ul>
                    <h3>Compétences acquises ou améliorés lors de ce poste</h3>
                    <div class="experience-tags">
                        <span>PHP</span>
                        <span>Symfony</span>
                        <span>JavaScript</span>
                        <span>JQuery</span>
                        <span>Macro Excel / VBA</span>
                        <span>React Native</span>
                        <span>Java</span>
                        <span>GraphQL</span>
                        <span>Gestion de projet</span>
                    </div>
                </div>
            </div>

            <div class="experience-card">
                <div class="experience-header">
                    <img src="{{ asset('media/BrodArt.png') }}" alt="BrodArt" class="experience-logo">
                    <div class="experience-info">
                        <h3>Développeur Web Full Stack</h3>
                        <p class="company">Brod’Art (auto-entrepreneur)</p>
                        <p class="date">Avr. 2022 - Mai. 2022</p>
                    </div>
                    <button class="experience-toggle">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
                <div class="experience-detail">
                    <span class="location">Lyon (69)</span>
                    <ul>
                        <li>Participation à la définition du cahier des charges et à la conception des maquettes
                            fonctionnelles</li>
                        <li>Développement full-stack d’une application web et web mobile (front-end & back-end) en
                            Symfony/Twig.</li>
                        <li>Intégration d’une solution e-commerce et création d’une interface utilisateur adaptée.</li>
                        <li>Conception de la base de données et développement des composants d’accès aux données.</li>
                    </ul>
                    <h3>Compétences acquises ou améliorés lors de ce poste</h3>
                    <div class="experience-tags">
                        <span>PHP</span>
                        <span>Symfony</span>
                        <span>JavaScript</span>
                        <span>JQuery</span>
                        <span>MySql</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="education" class="education-section">
    <div class="education-container">

        <h2 class="section-title">Formation</h2>

        <div class="education-list">

            <div class="education-card">
                <div class="education-header">
                    <img src="{{ asset('media/3il-ingenieurs.png') }}" alt="3iL Ingenieurs" class="education-logo">
                    <div class="education-info">
                        <h3>Bac+5 Manager de Solutions Digitales et Data</h3>
                        <p class="school">3iL Ingénieurs</p>
                        <p class="date">2023 – 2025</p>
                    </div>
                    <button class="education-toggle">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
                <div class="education-detail">
                    <p class="mention"><i class="fa-solid fa-medal"></i> Mention : Bien</p>
                    <p><a href="https://www.3il-ingenieurs.fr/" target="_blank" rel="noopener">Visiter le site de
                            l'école</a>
                    </p>
                    <p class="description">Formation orientée gestion de projets digitaux et data, incluant l’analyse
                        des besoins, la
                        rédaction de cahiers des charges et le pilotage de solutions informatiques avec acquisition
                        solides de compétences techniques en développement (Java, frameworks web, IOT, Flutter) et en
                        méthodologies de gestion de projet (UML, planification, analyse des risques).</p>
                </div>
            </div>

            <div class="education-card">
                <div class="education-header">
                    <img src="{{ asset('media/imie-paris.png') }}" alt="Imie-Paris" class="education-logo">
                    <div class="education-info">
                        <h3>Bac+3 Concepteur Développeur d'Applications</h3>
                        <p class="school">Imie Paris</p>
                        <p class="date">2022 – 2023</p>
                    </div>
                    <button class="education-toggle">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
                <div class="education-detail">
                    <p><a href="https://www.imie-paris.fr/" target="_blank" rel="noopener">Visiter le site de
                            l'école</a></p>
                    <p class="description">Formation visant l'approfondissement des bases en programmation, bases de
                        données, systèmes et méthodes logicielles avec une acquisition de compétences
                        opérationnelles pour la réalisation de projets web, desktop et mobiles en autonomie ou
                        en équipe.</p>
                </div>
            </div>

            <div class="education-card">
                <div class="education-header">
                    <img src="{{ asset('media/afpa.jpg') }}" alt="AFPA" class="education-logo">
                    <div class="education-info">
                        <h3>Bac+2 Développeur web et web mobile</h3>
                        <p class="school">AFPA</p>
                        <p class="date">2021 – 2022</p>
                    </div>
                    <button class="education-toggle">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
                <div class="education-detail">
                    <p><a href="https://www.afpa.fr/" target="_blank" rel="noopener">Visiter le site de
                            l'école</a></p>
                    <p class="description">Formation axée sur le développement d’applications web et web mobiles avec un
                        acquisition de compétences en front-end, back-end, bases de données et intégration
                        de solutions e-commerce.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="contact" class="contact-section">
    <div class="contact-container">
        <h2 class="section-title">Me contacter</h2>

        <div class="contact-cards">

            <a href="mailto:alvin.carneiro1@gmail.com" class="contact-card">
                <i class="fa-solid fa-envelope"></i>
                <span>Email</span>
                <p>alvin.carneiro1@gmail.com</p>
            </a>

            <a href="tel:+33695239883" class="contact-card">
                <i class="fa-solid fa-phone"></i>
                <span>Téléphone</span>
                <p>+33 6 95 23 98 83</p>
            </a>

            <a href="https://github.com/alvin-crn" target="_blank" rel="noopener" class="contact-card">
                <i class="fa-brands fa-github"></i>
                <span>GitHub</span>
                <p>github.com/alvin-crn</p>
            </a>

            <a href="https://www.linkedin.com/in/alvin-carneiro-marques/" target="_blank" rel="noopener"
                class="contact-card">
                <i class="fa-brands fa-linkedin"></i>
                <span>LinkedIn</span>
                <p>alvin-carneiro-marques</p>
            </a>

        </div>


        <a href="{{ asset('media/Alvin_Carneiro_CV_min.pdf') }}" download class="contact-cv">
            <i class="fa-solid fa-download"></i> Télécharger mon CV
        </a>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{{ asset('js/carrousel.js') }}"></script>
<script src="{{ asset('js/experience.js') }}"></script>
<script src="{{ asset('js/education.js') }}"></script>
{% endblock js %}